.rootContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    > .into {
        width: 100%;
        max-width: 800px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(1, 1, 1, 0.464);
        overflow: hidden;
        margin: 30px 10px;
        padding: 10px 10px 15px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // direction: rtl;
        background-color: rgba(10, 0, 208, 0.044);

        > .title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 2em;
        }
        > .totalSection{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            > .item{
                width: max-content;
                padding: 5px;
                border-radius: 10px;
                background-color: rgba(165, 165, 165, 0.218);
            }
        }
        > .cards {
            width: 100%;
            display: flex;
            height: fit-content;
            flex-direction: column;
            @media screen and (max-width: 644px) {
                max-width: 300px;
            }

        }
    }
}
